{% extends "layout.html" %}
{% block content %}
<div id='app'>

<div class="login-container" >
    <div class="card setup-form">
        <div class="card-body">
            <h3 class="card-title text-center">อัปเดตระบบ</h3>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
            <div class="card-body text-center">
                <div class="spinner-border" role="status" v-if="currentAppStatus !== 'ok'">
                    <span class="sr-only">Loading...</span>
                </div>
                <h3>
                    สถานะระบบ:
                    {% raw %}
                    <button class="btn btn-success">
                        {{ appStatus }}
                    </button>
                    {% endraw %}
                </h3>
            </div>
            <div class="card-text" v-if="currentAppStatus === 'ok'">
                <form method="post">
                    <div class="form-group">
                        <label for="app_version">เวอร์ชัน (ต้องไม่เหมือนเดิม)</label>
                        <input type="text" class="form-control form-control-sm" id="app_version" name="app_version" placeholder="ตย. 1.2.3" required />
                    </div>
{#                    <div class="form-group">#}
{#                        <label for="app_public_key">Public Key (for deployment)</label>#}
{#                        <textarea type="text" class="form-control form-control-sm" id="app_public_key" rows="10" readonly>{{ public_key }}</textarea>#}
{#                    </div>#}
                    <div class="form-group">
                        <label for="app_user_data">EC2 User Data</label>
                        <textarea type="text" class="form-control form-control-sm" id="app_user_data" name="app_user_data" rows="20" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-info btn-block">อัปเดต</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="login-container" v-if="currentAppStatus === 'ok'">
    <div class="card setup-form">
        <div class="card-body">
            <h3 class="card-title text-center">อัปเดตจำนวน EC2</h3>
            <div class="card-text" >
                <form method="post" action="/update/amount">
                    <div class="form-group">
                        <label for="ec2_prefer_amount">จำนวน EC2 ที่ต้องการ</label>
                        <input type="number"
                               class="form-control form-control-sm"
                               id="ec2_prefer_amount"
                               name="ec2_prefer_amount"
                               placeholder="5"
                               value="{{ last_ec2_counts }}"
                               required
                        />
                    </div>

                    <button type="submit" class="btn btn-info btn-block">อัปเดต</button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

new Vue({
    el: '#app',
    data() {
        return {
            currentAppStatus: "loading",
            currentAppVersion: "",
            allAppStatus: {
                "loading": "กำลังโหลดสถานะ",
                "ok": "พร้อม",
                "error": "เกิดข้อผิดพลาด",
                "waiting": "กำลังรอการตอบสนองจากระบบอัปเดต",
                "initializing": "กำลังตั้งค่าการทำงานสำหรับครั้งแรก",
                "updating": "กำลังเริ่มกระบวนการอัปเดตเวอร์ชัน EC2",
                "working-ami": "[อัปเดต] กำลังสร้าง AMI",
                "working-add-ec2": "[อัปเดต] กำลังสร้าง EC2",
                "working-remove-ec2": "[อัปเดต] กำลังลบ EC2 เวอร์ชันเก่า",
            }
        }
    },
    mounted() {
        this.updateAppStatus();
        setInterval(this.updateAppStatus, 5000);
    },
    methods: {
        updateAppStatus() {
            axios.get('/status').then(res => {

                this.currentAppVersion = res.data.version || "Unknown"
                this.currentAppStatus = res.data.status || "error"

            }).catch(e => {
                console.log(e)
                this.currentAppStatus = "error"
            })
        }
    },
    computed: {
        appStatus() {
            return this.allAppStatus[this.currentAppStatus] || "ไม่ทราบ"
        }
    },
    watch: {
        currentAppStatus(newVersion, oldVersion) {
            if(newVersion === 'ok' && oldVersion !== 'ok') {
                setTimeout(() => {
                    document.getElementById('app_version').value = this.currentAppVersion
                }, 100)
            }
        }
    }
})
</script>

{% endblock %}